<% content_for(:title) do %>
  Welcome!
<% end %>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Repos', repos_path %></li>
    <li><%= link_to 'Teams', teams_path %></li>
    <li><%= link_to 'Create Pull Request', new_pull_request_path %></li>
  </ul>
<% end %>
